API_ID = '29947677' # Get it by creating an app on https://my.telegram.org
API_HASH = "3109948db1db45a2d838e0db1a64ae2c" # Get it by creating an app on https://my.telegram.org
BOT_TOKEN = "7085606131:AAFRsfI0vEqo5pBhKJwSFAXYqMBkB93Sn5Y" # Get it by creating a bot on https://t.me/BotFather
SUDO_USERS = "7007295818" # List of sudo user's id, separated by space.
DOWNLOAD_DIR = "" # Download directory where to download files. Must ends with forward slash > / <
